In [2]:
import pandas as pd 
confirm_df = pd.read_csv("COVID-19/csse_covid_19_data/csse_covid_19_time_series/time_series_19-covid-confirmed.csv")
death_df = pd.read_csv("COVID-19/csse_covid_19_data/csse_covid_19_time_series/time_series_19-covid-Deaths.csv")
recov_df = pd.read_csv("COVID-19/csse_covid_19_data/csse_covid_19_time_series/time_series_19-covid-Recovered.csv")
df = pd.read_csv("COVID-19/csse_covid_19_data/csse_covid_19_daily_reports/most_recent.csv")

korea_df = pd.read_csv("coronavirusdataset/PatientInfo.csv")
country_df = pd.read_csv('info/info.csv')

In [3]:
china_df = df [ df['Country/Region'] == "China"]

In [4]:
china_list_number = len(china_df['Confirmed'])

In [8]:
i = 0
sum = 0
while (i < china_list_number):
    sum = sum + china_df['Deaths'].iloc[i]
    i = i + 1

print ("Total number of deaths in china is: "+str(sum))

Total number of deaths in china is: 3259

In [9]:
US_df = df [ df['Country/Region'] == "US"]
US_list_number = len(US_df['Confirmed'])

In [10]:
df

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,Latitude,Longitude
0,Hubei,China,2020-03-21T10:13:08,67800,3139,58946,30.9756,112.2707
1,NaN,Italy,2020-03-21T17:43:03,53578,4825,6072,41.8719,12.5674
2,NaN,Spain,2020-03-21T13:13:30,25374,1375,2125,40.4637,-3.7492
3,NaN,Germany,2020-03-21T20:43:02,22213,84,233,51.1657,10.4515
4,NaN,Iran,2020-03-21T11:13:12,20610,1556,7635,32.4279,53.6880
...,...,...,...,...,...,...,...,...
299,NaN,Jersey,2020-03-17T18:33:03,0,0,0,49.1900,-2.1100
300,NaN,Puerto Rico,2020-03-17T16:13:14,0,0,0,18.2000,-66.5000
301,NaN,Republic of the Congo,2020-03-17T21:33:03,0,0,0,-1.4400,15.5560
302,NaN,The Bahamas,2020-03-19T12:13:38,0,0,0,24.2500,-76.0000
303,NaN,The Gambia,2020-03-18T14:13:56,0,0,0,13.4667,-16.6000

In [11]:
k = 0
sum = 0
while (k < US_list_number):
    sum = sum + US_df['Confirmed'].iloc[k]
    k = k + 1

print ("Total number of cases in US is: "+str(sum))

Total number of cases in US is: 25493

In [12]:
k = 0
sum = 0
while (k < US_list_number):
    sum = sum + US_df['Deaths'].iloc[k]
    k = k + 1

print ("Total number of deaths in US is: "+str(sum))

Total number of deaths in US is: 307

In [13]:
def total_sum(vari1,vari2,vari3):
    k = 0
    sum = 0
    while (k < vari1):
        sum = sum + vari2[vari3].iloc[k]
        k = k + 1

    return sum

In [14]:
print (total_sum(US_list_number, US_df, 'Deaths'))

307

In [15]:
korea_df['state']
china_df = df [ df['Country/Region'] == "China"]
kdeath_df = korea_df [ korea_df['state'] == 'deceased']

In [16]:
len(korea_df['sex'])

2243

In [17]:
if (korea_df['sex'].iloc[1] == 'male'):
    print ('yes')
else:
    print ('fail')

yes

In [21]:
k = 0
male_sum = 0
female_sum = 0

while (k < len(korea_df['sex'])):
    if (korea_df['sex'].iloc[k] == 'male'):
        male_sum = male_sum + 1
        k = k + 1
    elif (korea_df['sex'].iloc[k] == 'female'):
        female_sum = female_sum + 1
        k = k + 1
    else:
        k = k + 1

'''
print (male_sum)
print (female_sum)
korean male/female ratio of 0.775/1.0
'''

937
1210

In [35]:
if((korea_df['birth_year'].iloc[0] < 1965) and (korea_df['birth_year'].iloc[0] > 1963)):
    print ('yes')

yes

In [42]:
k = 0
under_ten = 0
tens = 0
twenties = 0
thirties = 0
fourties = 0
fifties = 0
sixties = 0
seventies = 0
eighties = 0
ninties = 0
over_hundred = 0
birth = korea_df['birth_year']
while (k < len(korea_df['birth_year'])):
    if (birth.iloc[k] == ''):
        k = k + 1
    elif (birth.iloc[k] >= 2010):
        under_ten = under_ten + 1
        k = k + 1
    elif ((birth.iloc[k] < 2010) and (birth.iloc[k] >= 2000 )):
        tens = tens + 1
        k = k + 1
    elif ((birth.iloc[k] < 2000) and (birth.iloc[k] >= 1990 )):
        twenties = twenties + 1
        k = k + 1
    elif ((birth.iloc[k] < 1990) and (birth.iloc[k] >= 1980 )):
        thirties = thirties + 1
        k = k + 1    
    elif ((birth.iloc[k] < 1980) and (birth.iloc[k] >= 1970 )):
        fourties = fourties + 1
        k = k + 1
    elif ((birth.iloc[k] < 1970) and (birth.iloc[k] >= 1960 )):
        fifties = fifties + 1
        k = k + 1
    elif ((birth.iloc[k] < 1960) and (birth.iloc[k] >= 1950 )):
        sixties = sixties + 1
        k = k + 1
    elif ((birth.iloc[k] < 1950) and (birth.iloc[k] >= 1940 )):
        seventies = seventies + 1
        k = k + 1
    elif ((birth.iloc[k] < 1940) and (birth.iloc[k] >= 1930 )):
        eighties = eighties + 1
        k = k + 1
    elif ((birth.iloc[k] < 1930) and (birth.iloc[k] >= 1920 )):
        ninties = ninties + 1
        k = k + 1
    elif (birth.iloc[k] < 1920):
        over_hundred = over_hundred + 1
        k = k + 1   
    else:
        k = k + 1

'''
print (under_ten)
print (tens)
print (twenties)
print (thirties)
print (fourties)
print (fifties)
print (sixties)
print (seventies)
print (eighties)
print (ninties)
print (over_hundred)
majority of cases are between 20 and 60. 
'''

31
109
389
234
281
362
197
102
73
10
1